.header-image {
    img {
     width:100%;
     height: auto;
  }
}

@media only screen and (max-width: 767px) {
  .header_title {
    font-size: 2rem;
  }

}

@media only screen and (max-width: 479px) {
  .header_title {
    font-size: 1.5rem;
  }

}
