@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';

@import '_colors.scss';
@import '_fonts.scss';
@import '_helpers.scss';

@import '_header.scss';

@import '_layout.scss';
